.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-register .form-control:focus {
    z-index: 2;
  }
  
  .submit{
      height: 20%;
      width: 90%;
      margin: 15px 20px 20px 20px;
  }
  
  .register{
      height: 20%;
      width: 50%;
      margin: 5px 30px 0 75px;
  }