.card{ 
    width: 700px;
    padding: 15px;
    border: 0
}

.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
  
.form-signin .form-control:focus {
z-index: 2;
}

.buttonTask{
    margin: 10px 10px 0 20px ;
    width: 10%;
}
